header {
  min-height: 50px;
  background: rgba(128, 128, 128, 0.13);
  padding-bottom: 16px;
}

#admin-link {
  display: inline-block;
  float: right;
  padding: 12px;
  font-size: 18px;
}

#header-logo-wrapper {
  width: 300px;
  margin: auto;
}
