.question-text {
  font-size: 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.51);
}

.question-choice {
  margin: 8px 0;
  padding-left: 8px;
  font-size: 18px;
}

.choice-text {
  font-weight: 200;
  font-size: 22px;
}
.question-choices {
  min-height: 120px;
  margin-top: 12px;
}

.question {
  margin: 20px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  -webkit-box-shadow:3px 2px 8px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow:3px 2px 8px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.27);
  box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.13);

}
