input.question-choice-radio {
  margin-right: 8px;
}

.alt-message {
  font-size: 28px;
  text-align: center;
  margin-top: 6%;
  color: rgba(128, 128, 128, 0.71);
}

.reset-questions {
  display: inline-block;
  font-size: 16px;
  padding: 8px;
}
